In [1]:
import pandas as pd
import numpy as np

In [16]:
df = pd.DataFrame({'B': [0, 1, 3, 8, 12]})
df.head()

    B
0   0
1   1
2   3
3   8
4  12

In [17]:
df.ewm(alpha = 0.7).std()

          B
0       NaN
1  0.707107
2  1.562833
3  3.899228
4  4.366158

In [24]:
df.rolling(2).std()

          B
0       NaN
1  0.707107
2  1.414214
3  3.535534
4  2.828427